.page1-row-1 {
  margin-top: -140px; }
  .page1-row-1 .page1-row-1-right {
    margin-top: 72px;
    background-color: #960F14;
    height: 340px; }
    .page1-row-1 .page1-row-1-right .page1-row-1-right-text {
      color: #D0D0D0;
      font-size: 39px;
      margin-top: 50px;
      margin-left: 5%; }
    .page1-row-1 .page1-row-1-right .page1-row-1-right-qrcode {
      background: url("../../images/home_wechat_icon.png") no-repeat;
      background-position: center top;
      background-size: cover;
      width: 78px;
      height: 73px;
      margin-top: 49px;
      margin-left: 5%; }
    .page1-row-1 .page1-row-1-right img {
      margin-top: 20px;
      margin-left: 5%; }
  .page1-row-1 .page1-row-1-left {
    background: url("../../images/home_ourvision_img.png") no-repeat;
    height: 424px;
    background-position: center top;
    background-size: cover; }
    .page1-row-1 .page1-row-1-left .page1-row-1-left-logo {
      background: url("../../images/home_ourvision_icon.png") no-repeat;
      background-position: center;
      background-size: cover;
      width: 204px;
      height: 48px;
      margin-left: 10%;
      margin-top: 42px; }

.page1-row-2 {
  margin-top: 61px;
  margin-bottom: 90px;
  height: 66px;
  position: relative; }
  .page1-row-2 .page1-row-2-back-line {
    height: 1px;
    width: 100%;
    background-color: #D8D8D8;
    position: absolute;
    top: 32px;
    left: 0px; }
  .page1-row-2 .page1-row-2-center-frame {
    position: relative;
    width: 100%;
    height: 66px; }
    .page1-row-2 .page1-row-2-center-frame .page1-row-2-back-frame {
      border: 1px solid #D8D8D8;
      width: 240px;
      height: 66px;
      background-color: transparent;
      margin: auto; }
    .page1-row-2 .page1-row-2-center-frame .page1-row-2-text {
      width: 200px;
      height: 50px;
      color: #960F14;
      background-color: white;
      font-size: 30px;
      margin: auto;
      margin-top: -58px;
      text-align: center;
      line-height: 50px; }

.page1-row-3 {
  padding-bottom: 46px; }
  .page1-row-3 .page1-row-3-right {
    padding-left: 10px;
    padding-top: 10px; }
    .page1-row-3 .page1-row-3-right p {
      color: #9b9b9b;
      font-size: 20px;
      margin-top: 42px; }

.page1-row-4 {
  background-color: #f4f4f4;
  width: 100%;
  padding-top: 44px;
  padding-bottom: 200px; }
  .page1-row-4 .page1-row-4-left {
    padding-left: 0px;
    text-align: right; }
    .page1-row-4 .page1-row-4-left p {
      color: #9b9b9b;
      font-size: 20px;
      margin-top: 42px; }

.page1-row-5 {
  margin-top: -100px;
  padding-bottom: 100px; }
  .page1-row-5 .page1-row-5-right {
    padding-left: 10px;
    padding-top: 180px; }
    .page1-row-5 .page1-row-5-right p {
      color: #9b9b9b;
      font-size: 20px;
      margin-top: 42px; }

.page1-row-6 {
  padding-bottom: 89px; }
  .page1-row-6 .page1-row-6-left {
    padding-left: 10px;
    padding-top: 90px;
    text-align: right; }
    .page1-row-6 .page1-row-6-left p {
      color: #9b9b9b;
      font-size: 20px;
      margin-top: 42px; }

@media (max-width: 767px) {
  .page1-row-1 {
    margin-top: 0px; }
    .page1-row-1 .page1-row-1-right {
      margin-top: 0px; }
    .page1-row-1 .page1-row-1-left {
      background: url("../../images/home_ourvision_img_no.png") no-repeat; }
  .page1-row-3 .page1-row-3-right {
    padding-left: 5%;
    padding-top: 60px; }
  .page1-row-4 {
    padding-bottom: 40px; }
    .page1-row-4 .page1-row-4-left {
      padding-left: 5%;
      text-align: left; }
  .page1-row-5 {
    margin-top: 40px; }
    .page1-row-5 .page1-row-5-right {
      padding-top: 60px;
      padding-left: 5%; }
  .page1-row-6 {
    padding-bottom: 50px; }
    .page1-row-6 .page1-row-6-left {
      padding-top: 60px;
      padding-left: 5%;
      text-align: left; } }
