@charset "UTF-8";
.page1-row-1 {
  height: 555px;
  margin-top: -107px;
  text-align: center;
  font-weight: 300;
  font-family: '微软雅黑 Regular', '微软雅黑';
  color: white; }
  .page1-row-1 .frame {
    height: 500px;
    width: 780px;
    margin: auto; }
    .page1-row-1 .frame .top {
      background: #A71E2B;
      width: 100%;
      height: 170px;
      position: relative; }
      .page1-row-1 .frame .top .text-1 {
        position: absolute;
        top: 20px;
        left: 40px;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 2px; }
      .page1-row-1 .frame .top .text-2 {
        position: absolute;
        top: 105px;
        left: 40px;
        font-size: 30px;
        letter-spacing: 8px; }
      .page1-row-1 .frame .top .qrcode {
        width: 101px;
        position: absolute;
        top: 17px;
        left: 620px; }
      .page1-row-1 .frame .top .text-3 {
        position: absolute;
        top: 125px;
        left: 626px;
        font-size: 10px;
        width: 85px;
        text-align: center; }
    .page1-row-1 .frame .bottom {
      width: 100%;
      height: 385px;
      position: relative; }
      .page1-row-1 .frame .bottom .guanggao-1 {
        width: 305px;
        position: absolute;
        top: 61px;
        left: 0px; }
      .page1-row-1 .frame .bottom .bottom-right {
        width: 428px;
        height: 270px;
        border-top: 3px solid #A71E2B;
        border-bottom: 3px solid #A71E2B;
        position: absolute;
        top: 61px;
        left: 345px; }
        .page1-row-1 .frame .bottom .bottom-right .bottom-text-1 {
          position: absolute;
          top: 30px;
          left: 35px;
          font-size: 28px;
          font-weight: 400;
          color: black; }
        .page1-row-1 .frame .bottom .bottom-right .bottom-text-2 {
          position: absolute;
          top: 118px;
          left: 90px;
          font-size: 40px;
          letter-spacing: 1px;
          color: #A71E2B;
          font-weight: 900; }
        .page1-row-1 .frame .bottom .bottom-right .bottom-text-3 {
          position: absolute;
          top: 178px;
          left: 172px;
          font-size: 40px;
          letter-spacing: 1px;
          font-weight: 900;
          color: black; }
        .page1-row-1 .frame .bottom .bottom-right .img-mediaform {
          width: 222px;
          position: absolute;
          top: 28px;
          left: 160px; }

.page1-row-2 {
  width: 1172px;
  height: 595px;
  background: url("../../images/homenew/8.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative; }
  .page1-row-2 .line-1 {
    width: 300px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 66px;
    left: 0px; }
  .page1-row-2 .line-2 {
    width: 300px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 66px;
    right: 0px; }
  .page1-row-2 .text-2 {
    position: absolute;
    top: 120px;
    left: 250px;
    font-size: 48px;
    font-weight: 600; }
    .page1-row-2 .text-2 span {
      font-size: 78px;
      font-weight: 900; }
  .page1-row-2 .img-left {
    width: 404px;
    position: absolute;
    top: 274px;
    left: 196px; }
  .page1-row-2 .img-right {
    width: 405px;
    position: absolute;
    top: 274px;
    left: 565px; }
  .page1-row-2 .title {
    width: 556px;
    height: 45px;
    position: absolute;
    top: 44px;
    left: 303px; }
    .page1-row-2 .title .text-1 {
      position: absolute;
      top: 3px;
      left: 36px;
      font-size: 28px;
      font-weight: 400; }
    .page1-row-2 .title .img-title {
      width: 342px;
      position: absolute;
      top: 0px;
      left: 181px; }

.page1-row-3 {
  width: 1172px;
  height: 896px;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .page1-row-3 .img-back {
    width: 701px;
    position: absolute;
    left: 0px;
    top: -90px; }
  .page1-row-3 .line-1 {
    width: 300px;
    height: 4px;
    background-color: #A71E2B;
    position: absolute;
    top: 131px;
    left: 0px; }
  .page1-row-3 .line-2 {
    width: 300px;
    height: 4px;
    background-color: #A71E2B;
    position: absolute;
    top: 131px;
    right: 0px; }
  .page1-row-3 .title {
    width: 556px;
    height: 45px;
    position: absolute;
    top: 105px;
    left: 303px; }
    .page1-row-3 .title .text-1 {
      position: absolute;
      top: 7px;
      left: 40px;
      font-size: 28px;
      font-weight: 400;
      color: black; }
    .page1-row-3 .title .img-title {
      width: 342px;
      position: absolute;
      top: 0px;
      left: 181px; }
  .page1-row-3 .text-2 {
    position: absolute;
    top: 185px;
    left: 370px;
    font-size: 48px;
    font-weight: 600;
    color: #A71E2B;
    letter-spacing: 1px; }
    .page1-row-3 .text-2 span {
      font-size: 78px;
      font-weight: 900; }
  .page1-row-3 .text-3 {
    position: absolute;
    top: 274px;
    left: 281px;
    font-size: 48px;
    font-weight: 600;
    color: #A71E2B;
    letter-spacing: 1px; }
    .page1-row-3 .text-3 span {
      font-size: 78px;
      font-weight: 900; }
  .page1-row-3 .img-frame {
    width: 779px;
    height: 423px;
    position: absolute;
    top: 404px;
    left: 198px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between; }
    .page1-row-3 .img-frame .img-item {
      width: 253px;
      height: 184px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: space-between; }
      .page1-row-3 .img-frame .img-item img {
        width: 253px; }
      .page1-row-3 .img-frame .img-item div {
        width: 158px;
        color: #999899;
        border-left: 2px solid #999899;
        text-align: left;
        padding-left: 10px; }

.page1-row-4 {
  width: 1172px;
  height: 505px;
  background: url("../../images/homenew/8.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .page1-row-4 .line-1 {
    width: 300px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 66px;
    left: 0px; }
  .page1-row-4 .line-2 {
    width: 300px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 66px;
    right: 0px; }
  .page1-row-4 ul {
    width: 480px;
    font-size: 44px;
    position: absolute;
    top: 180px;
    left: 183px;
    font-weight: 900; }
    .page1-row-4 ul li {
      text-align: left;
      line-height: 55px;
      margin-bottom: 50px; }
  .page1-row-4 .img-right {
    width: 499px;
    position: absolute;
    top: 165px;
    left: 693px; }
  .page1-row-4 .title {
    width: 556px;
    height: 52px;
    position: absolute;
    top: 44px;
    left: 303px; }
    .page1-row-4 .title .text-1 {
      position: absolute;
      top: 0px;
      left: 36px;
      font-size: 28px;
      font-weight: 400; }
    .page1-row-4 .title .img-title {
      width: 342px;
      position: absolute;
      top: 0px;
      left: 181px; }

.page1-row-5 {
  width: 1172px;
  height: 770px;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .page1-row-5 .line-1 {
    width: 300px;
    height: 4px;
    background-color: #A71E2B;
    position: absolute;
    top: 113px;
    left: 0px; }
  .page1-row-5 .line-2 {
    width: 300px;
    height: 4px;
    background-color: #A71E2B;
    position: absolute;
    top: 113px;
    right: 0px; }
  .page1-row-5 .title {
    width: 556px;
    height: 45px;
    position: absolute;
    top: 95px;
    left: 303px; }
    .page1-row-5 .title .text-1 {
      position: absolute;
      top: 4px;
      left: 40px;
      font-size: 28px;
      font-weight: 400;
      color: black; }
    .page1-row-5 .title .img-title {
      width: 342px;
      position: absolute;
      top: 0px;
      left: 181px; }
  .page1-row-5 .img-logo {
    width: 785px;
    height: 376px;
    position: absolute;
    top: 300px;
    right: 195px;
    background-image: url("../../images/homenew/20.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center; }
  .page1-row-5 .text-2 {
    position: absolute;
    top: 160px;
    left: 284px;
    font-size: 48px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px; }
    .page1-row-5 .text-2 span {
      font-size: 78px;
      font-weight: 900; }
  .page1-row-5 .text-3 {
    position: absolute;
    top: 713px;
    left: 786px;
    font-size: 15px;
    color: #cccccc; }

@media (max-width: 766px) {
  .carousel-banner.page1-banner {
    background-size: 100% 100%;
    width: 100vw;
    height: 60vw; }
  .page1-row-1 {
    width: 100vw;
    height: 170vw;
    margin-top: 0px;
    text-align: center;
    font-weight: 300;
    font-family: '微软雅黑 Regular', '微软雅黑';
    color: white; }
    .page1-row-1 .frame {
      width: 100vw;
      height: 170vw;
      margin: auto; }
      .page1-row-1 .frame .top {
        background: #A71E2B;
        width: 100vw;
        height: 27vw;
        position: relative; }
        .page1-row-1 .frame .top .text-1 {
          position: absolute;
          top: 2vw;
          left: 2vw;
          font-size: 10vw;
          font-weight: 400;
          letter-spacing: 2px; }
        .page1-row-1 .frame .top .text-2 {
          position: absolute;
          top: 17vw;
          left: 2vw;
          font-size: 4vw;
          letter-spacing: 8px; }
        .page1-row-1 .frame .top .qrcode {
          width: 16vw;
          position: absolute;
          top: 3vw;
          left: 75vw; }
        .page1-row-1 .frame .top .text-3 {
          position: absolute;
          top: 19vw;
          left: 68vw;
          font-size: 2vw;
          width: 30vw;
          text-align: center; }
      .page1-row-1 .frame .bottom {
        width: 100vw;
        position: relative; }
        .page1-row-1 .frame .bottom .guanggao-1 {
          width: 80vw;
          position: absolute;
          top: 7vw;
          left: 10vw; }
        .page1-row-1 .frame .bottom .bottom-right {
          width: 80vw;
          height: 50vw;
          border-top: 3px solid #A71E2B;
          border-bottom: 3px solid #A71E2B;
          position: absolute;
          top: 84vw;
          left: 10vw; }
          .page1-row-1 .frame .bottom .bottom-right .bottom-text-1 {
            position: absolute;
            top: 4vw;
            left: 7vw;
            font-size: 5vw;
            font-weight: 400;
            color: black; }
          .page1-row-1 .frame .bottom .bottom-right .bottom-text-2 {
            position: absolute;
            top: 16vw;
            left: 12vw;
            font-size: 8vw;
            letter-spacing: 1px;
            color: #A71E2B;
            font-weight: 900; }
          .page1-row-1 .frame .bottom .bottom-right .bottom-text-3 {
            position: absolute;
            top: 30vw;
            left: 28vw;
            font-size: 8vw;
            letter-spacing: 1px;
            font-weight: 900;
            color: black; }
          .page1-row-1 .frame .bottom .bottom-right .img-mediaform {
            width: 40vw;
            position: absolute;
            top: 4vw;
            left: 30vw; }
  .page1-row-2 {
    width: 100vw;
    height: 160vw;
    background: url("../../images/homenew/8.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative; }
    .page1-row-2 .line-1 {
      width: 22vw;
      height: 1vw;
      background-color: #fff;
      position: absolute;
      top: 12vw;
      left: 0; }
    .page1-row-2 .line-2 {
      width: 22vw;
      height: 1vw;
      background-color: white;
      position: absolute;
      top: 12vw;
      right: 0px; }
    .page1-row-2 .text-2 {
      position: absolute;
      top: 25vw;
      left: 10vw;
      font-size: 6vw;
      font-weight: 600; }
      .page1-row-2 .text-2 span {
        font-size: 10vw;
        font-weight: 900; }
    .page1-row-2 .img-left {
      width: 70vw;
      position: absolute;
      top: 46vw;
      left: 14vw; }
    .page1-row-2 .img-right {
      width: 70vw;
      position: absolute;
      top: 100vw;
      left: 18vw; }
    .page1-row-2 .title {
      width: 50vw;
      height: 10vw;
      position: absolute;
      top: 4vw;
      left: 20vw; }
      .page1-row-2 .title .text-1 {
        position: absolute;
        top: 1vw;
        left: 21vw;
        font-size: 5vw;
        font-weight: 400; }
      .page1-row-2 .title .img-title {
        width: 40vw;
        position: absolute;
        top: 8vw;
        left: 11vw; }
  .page1-row-3 {
    width: 100vw;
    height: 290vw;
    text-align: center;
    position: relative;
    overflow: hidden; }
    .page1-row-3 .img-back {
      width: 100vw;
      position: absolute;
      left: 0vw;
      top: 10vw; }
    .page1-row-3 .line-1 {
      width: 22vw;
      height: 1vw;
      background-color: #A71E2B;
      position: absolute;
      top: 14vw;
      left: 0; }
    .page1-row-3 .line-2 {
      width: 22vw;
      height: 1vw;
      background-color: #A71E2B;
      position: absolute;
      top: 14vw;
      right: 0px; }
    .page1-row-3 .title {
      width: 50vw;
      height: 10vw;
      position: absolute;
      top: 5vw;
      left: 24vw; }
      .page1-row-3 .title .text-1 {
        position: absolute;
        top: 0vw;
        left: 17vw;
        font-size: 5vw;
        font-weight: 400;
        color: black; }
      .page1-row-3 .title .img-title {
        width: 40vw;
        top: 8vw;
        left: 7vw;
        position: absolute; }
    .page1-row-3 .text-2 {
      position: absolute;
      top: 23vw;
      left: 17vw;
      font-size: 7vw;
      font-weight: 600;
      color: #A71E2B;
      letter-spacing: 1px; }
      .page1-row-3 .text-2 span {
        font-size: 12vw;
        font-weight: 900; }
    .page1-row-3 .text-3 {
      position: absolute;
      top: 40vw;
      left: 4vw;
      font-size: 7vw;
      font-weight: 600;
      color: #A71E2B;
      letter-spacing: 1px; }
      .page1-row-3 .text-3 span {
        font-size: 12vw;
        font-weight: 900; }
    .page1-row-3 .img-frame {
      width: 70vw;
      /* height: 423px; */
      position: absolute;
      top: 60vw;
      left: 22vw;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      justify-content: space-between; }
      .page1-row-3 .img-frame .img-item {
        width: 50vw;
        height: 35vw;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2vw; }
        .page1-row-3 .img-frame .img-item img {
          width: 50vw; }
        .page1-row-3 .img-frame .img-item div {
          width: 30vw;
          color: #999899;
          border-left: 1vw solid #999899;
          text-align: left;
          font-size: 3vw;
          padding-left: 2vw;
          margin-bottom: 2vw;
          margin-top: 2vw; }
  .page1-row-4 {
    width: 100vw;
    height: 132vw;
    background: url("../../images/homenew/8.jpg") no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
    position: relative;
    overflow: hidden; }
    .page1-row-4 .line-1 {
      width: 22vw;
      height: 1vw;
      background-color: white;
      position: absolute;
      top: 14vw;
      left: 0vw; }
    .page1-row-4 .line-2 {
      width: 22vw;
      height: 1vw;
      background-color: white;
      position: absolute;
      top: 14vw;
      right: 0vw; }
    .page1-row-4 ul {
      width: 70vw;
      font-size: 6vw;
      position: absolute;
      top: 28vw;
      left: 15vw;
      font-weight: 900; }
      .page1-row-4 ul li {
        text-align: left;
        line-height: 9vw;
        margin-bottom: 5vw; }
    .page1-row-4 .img-right {
      width: 70vw;
      position: absolute;
      top: 77vw;
      left: 15vw; }
    .page1-row-4 .title {
      width: 60vw;
      height: 15vw;
      position: absolute;
      top: 6vw;
      left: 22vw; }
      .page1-row-4 .title .text-1 {
        position: absolute;
        top: 0;
        left: 18vw;
        font-size: 5vw;
        font-weight: 400; }
      .page1-row-4 .title .img-title {
        width: 50vw;
        position: absolute;
        top: 8vw;
        left: 3vw; }
  .page1-row-5 {
    width: 100vw;
    height: 147vw;
    text-align: center;
    position: relative;
    overflow: hidden; }
    .page1-row-5 .line-1 {
      width: 22vw;
      height: 1vw;
      background-color: #A71E2B;
      position: absolute;
      top: 14vw;
      left: 0px; }
    .page1-row-5 .line-2 {
      width: 22vw;
      height: 1vw;
      background-color: #A71E2B;
      position: absolute;
      top: 14vw;
      right: 0vw; }
    .page1-row-5 .title {
      width: 60vw;
      height: 16vw;
      position: absolute;
      top: 6vw;
      left: 23vw; }
      .page1-row-5 .title .text-1 {
        position: absolute;
        top: 1vw;
        left: 17vw;
        font-size: 5vw;
        font-weight: 400;
        color: black; }
      .page1-row-5 .title .img-title {
        width: 50vw;
        position: absolute;
        top: 8vw;
        left: 2vw; }
    .page1-row-5 .img-logo {
      width: 70vw;
      height: 90.7vw;
      position: absolute;
      top: 43vw;
      right: 15vw;
      background-image: url("../../images/homenew/logo.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center; }
    .page1-row-5 .text-2 {
      position: absolute;
      top: 23vw;
      left: 6vw;
      font-size: 7vw;
      font-weight: 600;
      color: black;
      letter-spacing: 1px; }
      .page1-row-5 .text-2 span {
        font-size: 12vw;
        font-weight: 900; }
    .page1-row-5 .text-3 {
      position: absolute;
      top: 136vw;
      left: 51vw;
      font-size: 3vw;
      color: #cccccc; } }
