$backColor:#f8f8f8;

.oneline{white-space:nowrap ; overflow: hidden;text-overflow : ellipsis}

footer{
  width: 100%;
  background-color: #960F14;
  padding: 34px 5%;
  p{
    font-size: 13px;
    color:white;
    line-height: 25px;
    text-align: center;
    span{
      cursor: pointer;
      text-decoration: underline;
    }
    a:link,a:visited,a:hover,a:active{
      color: white;
      text-decoration: underline;
    }

  }
}


