$PRIMARY:#A71E2B;
.page1-row-1 {
  height:555px;
  margin-top: -107px;
  text-align: center;
  font-weight: 300;
  font-family: '微软雅黑 Regular', '微软雅黑';
  color:white;
  .frame {
    height:500px;
    width: 780px;
    margin: auto;
    .top {
      background: $PRIMARY;
      width:100%;
      height:170px;
      position: relative;
      .text-1 {
        position: absolute;
        top:20px;
        left:40px;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 2px;
      }
      .text-2 {
        position: absolute;
        top:105px;
        left:40px;
        font-size: 30px;
        letter-spacing: 8px;
      }
      .qrcode {
        width:101px;
        position: absolute;
        top:17px;
        left:620px;
      }
      .text-3 {
        position: absolute;
        top:125px;
        left:626px;
        font-size: 10px;
        width:85px;
        text-align: center;
      }
    }
    .bottom {
      width:100%;
      height:385px;
      position: relative;
      .guanggao-1 {
        width:305px;
        position: absolute;
        top:61px;
        left:0px;
      }
      .bottom-right {
        width:428px;
        height:270px;
        border-top: 3px solid $PRIMARY;
        border-bottom: 3px solid $PRIMARY;
        position: absolute;
        top:61px;
        left:345px;
        .bottom-text-1 {
          position: absolute;
          top:30px;
          left:35px;
          font-size: 28px;
          font-weight: 400;
          color:black;
        }
        .bottom-text-2 {
          position: absolute;
          top:118px;
          left:90px;
          font-size: 40px;
          letter-spacing: 1px;
          color:$PRIMARY;
          font-weight: 900;
        }
        .bottom-text-3 {
          position: absolute;
          top:178px;
          left:172px;
          font-size: 40px;
          letter-spacing: 1px;
          font-weight: 900;
          color:black;
        }
        .img-mediaform{
          width:222px;
          position: absolute;
          top:28px;
          left:160px;
        }
      }
    }
  }
}

.page1-row-2 {
  width:1172px;
  height:595px;
  background: url('../../images/homenew/8.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  .line-1 {
    width:300px;
    height:4px;
    background-color: white;
    position: absolute;
    top:66px;
    left:0px;
  }
  .line-2 {
    width:300px;
    height:4px;
    background-color: white;
    position: absolute;
    top:66px;
    right:0px;
  }
  .text-2 {
    position: absolute;
    top:120px;
    left:250px;
    font-size: 48px;
    font-weight: 600;
    span{
      font-size: 78px;
      font-weight: 900;
    }
  }
  .img-left {
    width:404px;
    position: absolute;
    top:274px;
    left:196px;
  }
  .img-right {
    width:405px;
    position: absolute;
    top:274px;
    left:565px;
  }
  .title {
    width:556px;
    height:45px;
    position: absolute;
    top:44px;
    left:303px;
    .text-1 {
      position: absolute;
      top:3px;
      left:36px;
      font-size: 28px;
      font-weight: 400;
    }
    .img-title {
      width:342px;
      position: absolute;
      top:0px;
      left:181px;
    }
  }
}

.page1-row-3 {
  width:1172px;
  height:896px;
  text-align: center;
  position: relative;
  overflow: hidden;
  .img-back {
    width:701px;
    position: absolute;
    left:0px;
    top:-90px;
  }
  .line-1 {
    width:300px;
    height:4px;
    background-color: $PRIMARY;
    position: absolute;
    top:131px;
    left:0px;
  }
  .line-2 {
    width:300px;
    height:4px;
    background-color:$PRIMARY;
    position: absolute;
    top:131px;
    right:0px;
  }
  .title {
    width:556px;
    height:45px;
    position: absolute;
    top:105px;
    left:303px;
    .text-1 {
      position: absolute;
      top:7px;
      left:40px;
      font-size: 28px;
      font-weight: 400;
      color:black;
    }
    .img-title {
      width:342px;
      position: absolute;
      top:0px;
      left:181px;
    }
  }
  .text-2 {
    position: absolute;
    top:185px;
    left:370px;
    font-size: 48px;
    font-weight: 600;
    color:$PRIMARY;
    letter-spacing: 1px;
    span{
      font-size: 78px;
      font-weight: 900;
    }
  }
  .text-3 {
    position: absolute;
    top:274px;
    left:281px;
    font-size: 48px;
    font-weight: 600;
    color:$PRIMARY;
    letter-spacing: 1px;
    span{
      font-size: 78px;
      font-weight: 900;
    }
  }
  .img-frame {
    width:779px;
    height:423px;
    position: absolute;
    top:404px;
    left:198px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    .img-item {
      width:253px;
      height:184px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      img {
        width:253px;
      }
      div {
        width:158px;
        color:#999899;
        border-left: 2px solid #999899;
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}

.page1-row-4 {
  width:1172px;
  height:505px;
  background: url('../../images/homenew/8.jpg') no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: hidden;
  .line-1 {
    width:300px;
    height:4px;
    background-color: white;
    position: absolute;
    top:66px;
    left:0px;
  }
  .line-2 {
    width:300px;
    height:4px;
    background-color: white;
    position: absolute;
    top:66px;
    right:0px;
  }
  ul {
    width:480px;
    font-size: 44px;
    position: absolute;
    top:180px;
    left:183px;
    font-weight: 900;
    li {
      text-align: left;
      line-height: 55px;
      margin-bottom: 50px;
    }
  }
  .img-right {
    width:499px;
    position: absolute;
    top:165px;
    left:693px;
  }
  .title {
    width:556px;
    height:52px;
    position: absolute;
    top:44px;
    left:303px;
    .text-1 {
      position: absolute;
      top:0px;
      left:36px;
      font-size: 28px;
      font-weight: 400;
    }
    .img-title {
      width:342px;
      position: absolute;
      top:0px;
      left:181px;
    }
  }
}

.page1-row-5 {
  width:1172px;
  height:770px;
  text-align: center;
  position: relative;
  overflow: hidden;
  .line-1 {
    width:300px;
    height:4px;
    background-color: $PRIMARY;
    position: absolute;
    top:113px;
    left:0px;
  }
  .line-2 {
    width:300px;
    height:4px;
    background-color:$PRIMARY;
    position: absolute;
    top:113px;
    right:0px;
  }
  .title {
    width:556px;
    height:45px;
    position: absolute;
    top:95px;
    left:303px;
    .text-1 {
      position: absolute;
      top:4px;
      left:40px;
      font-size: 28px;
      font-weight: 400;
      color:black;
    }
    .img-title {
      width:342px;
      position: absolute;
      top:0px;
      left:181px;
    }
  }
  .img-logo {
    width:785px;
    height:376px;
    position: absolute;
    top:300px;
    right:195px;
    background-image: url('../../images/homenew/20.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }
  .text-2 {
    position: absolute;
    top:160px;
    left:284px;
    font-size: 48px;
    font-weight: 600;
    color:black;
    letter-spacing: 1px;
    span{
      font-size: 78px;
      font-weight: 900;
    }
  }
  .text-3 {
    position: absolute;
    top:713px;
    left:786px;
    font-size: 15px;
    color:#cccccc;
  }
}

@media (max-width: 766px){
  .carousel-banner.page1-banner{
    background-size: 100% 100%;
    width:100vw;
    height: 60vw;
  }
  .page1-row-1 {
    width:100vw;
    height:170vw;
    margin-top: 0px;
    text-align: center;
    font-weight: 300;
    font-family: '微软雅黑 Regular', '微软雅黑';
    color:white;
    .frame {
      width:100vw;
      height:170vw;
      margin: auto;
      .top {
        background: $PRIMARY;
        width:100vw;
        height:27vw;
        position: relative;
        .text-1 {
          position: absolute;
          top:2vw;
          left:2vw;
          font-size: 10vw;
          font-weight: 400;
          letter-spacing: 2px;
        }
        .text-2 {
          position: absolute;
          top:17vw;
          left:2vw;
          font-size: 4vw;
          letter-spacing: 8px;
        }
        .qrcode {
          width:16vw;
          position: absolute;
          top:3vw;
          left:75vw;
        }
        .text-3 {
          position: absolute;
          top:19vw;
          left:68vw;
          font-size: 2vw;
          width:30vw;
          text-align: center;
        }
      }
      .bottom {
        width:100vw;
        position: relative;
        .guanggao-1 {
          width:80vw;
          position: absolute;
          top:7vw;
          left:10vw;
        }
        .bottom-right {
          width:80vw;
          height:50vw;
          border-top: 3px solid $PRIMARY;
          border-bottom: 3px solid $PRIMARY;
          position: absolute;
          top:84vw;
          left:10vw;
          .bottom-text-1 {
            position: absolute;
            top:4vw;
            left:7vw;
            font-size: 5vw;
            font-weight: 400;
            color:black;
          }
          .bottom-text-2 {
            position: absolute;
            top:16vw;
            left:12vw;
            font-size: 8vw;
            letter-spacing: 1px;
            color:$PRIMARY;
            font-weight: 900;
          }
          .bottom-text-3 {
            position: absolute;
            top:30vw;
            left:28vw;
            font-size: 8vw;
            letter-spacing: 1px;
            font-weight: 900;
            color:black;
          }
          .img-mediaform{
            width:40vw;
            position: absolute;
            top:4vw;
            left:30vw;
          }
        }
      }
    }
  }
  .page1-row-2 {
    width:100vw;
    height:160vw;
    background: url('../../images/homenew/8.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    .line-1 {
      width: 22vw;
      height: 1vw;
      background-color: #fff;
      position: absolute;
      top: 12vw;
      left: 0;
    }
    .line-2 {
      width: 22vw;
      height: 1vw;
      background-color: white;
      position: absolute;
      top: 12vw;
      right:0px;
    }
    .text-2 {
      position: absolute;
      top: 25vw;
      left: 10vw;
      font-size: 6vw;
      font-weight: 600;
      span{
        font-size: 10vw;
        font-weight: 900;
      }
    }
    .img-left {
      width: 70vw;
      position: absolute;
      top: 46vw;
      left: 14vw;
    }
    .img-right {
      width: 70vw;
      position: absolute;
      top: 100vw;
      left: 18vw;
    }
    .title {
      width: 50vw;
      height: 10vw;
      position: absolute;
      top: 4vw;
      left: 20vw;
      .text-1 {
        position: absolute;
        top: 1vw;
        left: 21vw;
        font-size: 5vw;
        font-weight: 400;
      }
      .img-title {
        width: 40vw;
        position: absolute;
        top: 8vw;
        left: 11vw;
      }
    }
  }
  .page1-row-3 {
    width:100vw;
    height:290vw;
    text-align: center;
    position: relative;
    overflow: hidden;
    .img-back {
      width:100vw;
      position: absolute;
      left:0vw;
      top:10vw;
    }
    .line-1 {
      width: 22vw;
      height: 1vw;
      background-color: $PRIMARY;
      position: absolute;
      top: 14vw;
      left: 0;
    }
    .line-2 {
      width: 22vw;
      height: 1vw;
      background-color:$PRIMARY;
      position: absolute;
      top:14vw;
      right:0px;
    }
    .title {
      width: 50vw;
      height: 10vw;
      position: absolute;
      top: 5vw;
      left: 24vw;
      .text-1 {
        position: absolute;
        top: 0vw;
        left: 17vw;
        font-size: 5vw;
        font-weight: 400;
        color:black;
      }
      .img-title {
        width: 40vw;
        top: 8vw;
        left: 7vw;
        position: absolute;
      }
    }
    .text-2 {
      position: absolute;
      top: 23vw;
      left: 17vw;
      font-size: 7vw;
      font-weight: 600;
      color:$PRIMARY;
      letter-spacing: 1px;
      span{
        font-size: 12vw;
        font-weight: 900;
      }
    }
    .text-3 {
      position: absolute;
      top: 40vw;
      left: 4vw;
      font-size: 7vw;
      font-weight: 600;
      color:$PRIMARY;
      letter-spacing: 1px;
      span{
        font-size: 12vw;
        font-weight: 900;
      }
    }
    .img-frame {
      width: 70vw;
    /* height: 423px; */
      position: absolute;
      top: 60vw;
      left: 22vw;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      .img-item {
        width:50vw;
        height:35vw;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2vw;
        img {
          width:50vw;
        }
        div {
          width:30vw;
          color:#999899;
          border-left: 1vw solid #999899;
          text-align: left;
          font-size: 3vw;
          padding-left: 2vw;
          margin-bottom: 2vw;
          margin-top: 2vw;
        }
      }
    }
  }
  .page1-row-4 {
    width:100vw;
    height:132vw;
    background: url('../../images/homenew/8.jpg') no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
    position: relative;
    overflow: hidden;
    .line-1 {
      width:22vw;
      height:1vw;
      background-color: white;
      position: absolute;
      top:14vw;
      left:0vw;
    }
    .line-2 {
      width:22vw;
      height:1vw;
      background-color: white;
      position: absolute;
      top:14vw;
      right:0vw;
    }
    ul {
      width: 70vw;
      font-size: 6vw;
      position: absolute;
      top: 28vw;
      left: 15vw;
      font-weight: 900;
      li {
        text-align: left;
        line-height: 9vw;
        margin-bottom: 5vw;
      }
    }
    .img-right {
      width: 70vw;
      position: absolute;
      top: 77vw;
      left: 15vw;
    }
    .title {
      width: 60vw;
      height: 15vw;
      position: absolute;
      top: 6vw;
      left: 22vw;
      .text-1 {
        position: absolute;
        top: 0;
        left: 18vw;
        font-size: 5vw;
        font-weight: 400;
      }
      .img-title {
        width: 50vw;
        position: absolute;
        top: 8vw;
        left: 3vw;
      }
    }
  }
  .page1-row-5 {
    width:100vw;
    height:147vw;
    text-align: center;
    position: relative;
    overflow: hidden;
    .line-1 {
      width:22vw;
      height:1vw;
      background-color: $PRIMARY;
      position: absolute;
      top:14vw;
      left:0px;
    }
    .line-2 {
      width:22vw;
      height:1vw;
      background-color: $PRIMARY;
      position: absolute;
      top:14vw;
      right:0vw;
    }
    .title {
      width: 60vw;
      height: 16vw;
      position: absolute;
      top: 6vw;
      left: 23vw;
      .text-1 {
        position: absolute;
        top: 1vw;
        left: 17vw;
        font-size: 5vw;
        font-weight: 400;
        color:black;
      }
      .img-title {
        width: 50vw;
        position: absolute;
        top: 8vw;
        left: 2vw;
      }
    }
    .img-logo {
      width:70vw;
      height:90.7vw;
      position: absolute;
      top:43vw;
      right:15vw;
      background-image: url('../../images/homenew/logo.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
    }
    .text-2 {
      position: absolute;
      top: 23vw;
      left: 6vw;
      font-size: 7vw;
      font-weight: 600;
      color:black;
      letter-spacing: 1px;
      span{
        font-size: 12vw;
        font-weight: 900;
      }
    }
    .text-3 {
      position: absolute;
      top: 136vw;
      left: 51vw;
      font-size: 3vw;
      color:#cccccc;
    }
  }
}
/// 下面是旧的

// .page1-row-1{
//   margin-top: -140px;
//   .page1-row-1-right{
//     margin-top: 72px;
//     background-color: #960F14;
//     height:340px;
//     .page1-row-1-right-text{
//       color:#D0D0D0;
//       font-size: 39px;
//       margin-top: 50px;
//       margin-left: 5%;
//     }
//     .page1-row-1-right-qrcode{
//       background: url('../../images/home_wechat_icon.png') no-repeat;
//       background-position: center top;
//       background-size: cover;
//       width:78px;
//       height:73px;
//       margin-top: 49px;
//       margin-left: 5%;
//     }
//     img{
//       margin-top: 20px;
//       margin-left: 5%;
//     }
//   }
//   .page1-row-1-left{
//     background: url('../../images/home_ourvision_img.png') no-repeat;
//     height:424px;
//     background-position: center top;
//     background-size: cover;
//     .page1-row-1-left-logo{
//       background: url('../../images/home_ourvision_icon.png') no-repeat;
//       background-position: center;
//       background-size: cover;
//       width:204px;
//       height:48px;
//       margin-left: 10%;
//       margin-top: 42px;
//     }
//   }
// }

// //以上第一层
// $ColorD8:#D8D8D8;

// .page1-row-2{
//   margin-top: 61px;
//   margin-bottom: 90px;
//   height:66px;
//   position: relative;

//   .page1-row-2-back-line{
//     height:1px;
//     width:100%;
//     background-color: $ColorD8;
//     position: absolute;
//     top:32px;
//     left:0px;
//   }

//   .page1-row-2-center-frame{
//     position: relative;
//     width: 100%;
//     height:66px;
//     .page1-row-2-back-frame{
//       border: 1px solid $ColorD8;
//       width: 240px;
//       height:66px;
//       background-color: transparent;
//       margin: auto;
//     }
//     .page1-row-2-text{
//       width: 200px;
//       height:50px;
//       color:#960F14;
//       background-color: white;
//       font-size: 30px;
//       margin: auto;
//       margin-top: -58px;
//       text-align: center;
//       line-height: 50px;
//     }
//   }

// }
// //以上第二层

// @mixin page1-p-font(){
//   color:#9b9b9b;
//   font-size: 20px;
//   margin-top: 42px;
// }

// .page1-row-3{
//   padding-bottom: 46px;
//   .page1-row-3-right{
//     padding-left: 10px;
//     padding-top: 10px;
//     p{
//       @include page1-p-font;
//     }
//   }
// }

// //以上第三层

// .page1-row-4{
//   background-color: #f4f4f4;
//   width:100%;
//   padding-top: 64px;
//   padding-bottom: 200px;
//   .page1-row-4-left{
//     padding-left: 0px;
//     text-align: right;
//     p{
//       @include page1-p-font;
//     }
//   }

// }
// //以上第四层

// .page1-row-5{
//   margin-top: -60px;
//   padding-bottom: 100px;
//   .page1-row-5-right{
//     padding-left: 10px;
//     padding-top: 72px;
//     p{
//       @include page1-p-font;
//     }
//   }
// }
// //以上第五层

// .page1-row-6{
//   padding-bottom: 89px;
//   .page1-row-6-left{
//     padding-left: 10px;
//     padding-top: 90px;
//     text-align: right;
//     p{
//       @include page1-p-font;
//     }
//   }
// }
// //以上第六层


// //以下手机屏幕
// @media (max-width:767px) {
//   .page1-row-1{
//     margin-top: 0px;
//     .page1-row-1-right{
//       margin-top: 0px;
//     }
//     .page1-row-1-left {
//       background: url('../../images/home_ourvision_img_no.png') no-repeat;
//     }
//   }
//   .page1-row-3 {
//     .page1-row-3-right{
//       padding-left: 5%;
//       padding-top: 60px;
//     }
//   }

//   .page1-row-4{
//     padding-bottom: 40px;
//     .page1-row-4-left{
//       padding-left: 5%;
//       text-align: left;
//     }
//   }

//   .page1-row-5 {
//     margin-top: 40px;
//     .page1-row-5-right{
//       padding-top: 60px;
//       padding-left: 5%;
//     }
//   }
//   .page1-row-6 {
//     padding-bottom: 50px;
//     .page1-row-6-left {
//       padding-top: 60px;
//       padding-left: 5%;
//       text-align: left;
//     }
//   }
// }
